.hrInfo-Container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    padding: 15px;
    // .hrInfo-Label{

    // }
    .hrInfo-Data{
        font-weight: bold;
        
    }

}