.Hr{
    margin: 10px;
    margin-right: 20px;
    width: 320px;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    box-shadow: 16px 4px 389px -31px rgba(0,0,0,0.11);
    -webkit-box-shadow: 16px 4px 389px -31px rgba(0,0,0,0.11);
    -moz-box-shadow: 16px 4px 389px -31px rgba(0,0,0,0.11);   
    .profile-container {
        margin: auto;
        width: 80%;
        margin-top: 10%;
        .avatar{
            float: left;
        }
        display: flex;
        align-items: center;
        
        // .avatar-name-position{
        // }
        .avatar-name-position label{
            margin-left: 10px;
        } 
        label:first-of-type{
            font-weight: bold;
        }
    }
    .action-btn{
        border-bottom: 1px solid grey;
        border-bottom: 10px;
    }
    .action-btn{
        width: 50%;
        margin: 0 auto;         
        display: flex;
        .Icon{
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 10px;
            background: $hr_grey0;
            border-radius: 100%;
            // border: 1px solid grey;
            box-shadow: 16px 4px 389px -31px rgba(0,0,0,1);
            -webkit-box-shadow: 16px 4px 389px -31px rgba(0,0,0,1);
            -moz-box-shadow: 16px 4px 389px -31px rgba(0,0,0,1); 
        }
    }
    
    .profile-info {
        .ViewMore{            
            display: flex;
            width: 90%;
            margin: auto;
            .button-ViewMore{
                width: 100%;
                font-size: 18px;
                border: none;
                padding: 15px;
                border-radius: 30px;
                font-weight: bold;
                background: $hr_accent;

            }
        }


        &:before{
            content: ""; 
            display: block; 
            margin: 0 auto; 
            width: 90%; 
            padding-top: 20px; 
            border-bottom: 2px solid grey; 
        }
    }
}