.Hr{
    width: 300px;
    height: 229px;
    border: 1px solid grey;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    box-shadow: 16px 4px 389px -31px rgba(0,0,0,0.11);
    -webkit-box-shadow: 16px 4px 389px -31px rgba(0,0,0,0.11);
    -moz-box-shadow: 16px 4px 389px -31px rgba(0,0,0,0.11);    
    .profile-container {
        margin: auto;
        width: 80%;
        // border: 1px solid grey;
        margin-top: 10%;
        .avatar{
            float: left;
        }
        display: flex;
        align-items: center;
        
        // .avatar-name-position{
        // }
        .avatar-name-position label{
            margin-left: 10px;
        } 
        label:first-of-type{
            font-weight: bold;
        }
    }
    .action-btn{
        border-bottom: 1px solid grey;
        border-bottom: 10px;
    }
}